html,body{
	overflow-x:hidden;
}
body > .container-fluid{
	height: 100vh;
}
.buttonAndDisplay{
	height: 83%;
	border: 1px solid;
}
.buttonArea{
	height: 90%;
	margin-top: 2.5%;
	border: 1px solid orange;
}
.gameTitle{
	height: 15%;
}
.gameStartInput{
	height: 5%;
}
.gameStartInput > .row{
	height: 50%;
}
.displayFiller{
	height: 40%;
}
.playerTurnButtons{
	height: 30%;
	border: 1px solid orange;
}
/*end of css for button area css*/

.gameDisplayArea{
	height: 95%;
	margin-top: 1%;
	border: 1px solid green;
}
.dealerArea{
	height: 25%;
	margin: 1px 1px;
	/*border: 1px solid;*/
}
.dealerDisplay{
	height: 100%;
	border: 1px solid blue;
}
.displayMiddle{
	height: 45%;
}
.displayMiddle>div{
	height: 80%;
	margin-top: 5%;
	border: 1px solid;
}
.playersArea{
	height: 30%;
	margin: 0 1px;
	/*border: 1px solid;*/
}
.playersArea >div{
	height: 100%;
	border: 1px solid blue;
}

.statusDisplay{
	height: 17%;
	border: 1px solid;
}