html,body{
	overflow-x:hidden;
}
/*font-family: 'Permanent Marker', cursive;*/
body > .container-fluid{
	height: 100vh;
}
.buttonAndDisplay{
	height: 83%;
	border: 1px solid;
}
.buttonArea{
	height: 90%;
	margin-top: 2.5%;
	margin-left: 2.08%;
	border: 1px solid orange;
}
.gameTitle{
	height: 15%;
}
.gameStartInput{
	height: 15%;
}
.gameStartInput > .row{
	height: 50%;
}
.displayFiller{
	height: 30%;
}
.playerTurnButtons{
	height: 30%;
	border: 1px solid orange;
}
.currentPlayer{
	height: 30%;
}
/*end of css for button area css*/

.gameDisplayArea{
	height: 95%;
	margin-top: 1%;
	margin-left: 3.1666%;
	border-radius: 15px;
	background-image: url("images/background.png");
	background-size: 100% 100%;
}
.dealerArea{
	height: 25%;
	margin: 1px 1px;
	/*border: 1px solid;*/
}
.dealerDisplay{
	height: 100%;
	border: 1px solid blue;
}
.displayMiddle{
	height: 37%;
	margin-top: 0.25%;
}
#displayMain{
	height: 100%;
	border: 5px solid brown;
	border-radius: 15%;
	background-image: url('images/background.png');
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.85;
}
.playersArea{
	height: 37%;
	/*margin: 0 1px;*/
	/*border: 1px solid;*/
}
#player_1, #player_2, #player_3, #player_4{
	height: 100%;
	border: 1px solid blue;
	border-radius: 10px;
	box-sizing: border-box;
}
.player-label{
	margin-left: 15px;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 
	1px 1px 0 #000,
	-1px -1px 0 #000,
	2px 2px 0 #000;
}


.statusDisplay{
	height: 17%;
	border: 1px solid;
}